body {
    font-family: Roboto-Bold;
    font-size: 84px;
    color: #37474F;
}


.counter__container {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
}
.counter__container .counter {
    margin: auto;
}